<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
welcome to User Dashboard page

<form method="post">
	<a th:href="@{http://azvdcnkcr0269-0.lntinfotech.com:1019/products/clothes}">Clothes</a>
	<a th:href="@{http://azvdcnkcr0269-0.lntinfotech.com:1019/products/electronics}">Electronics</a>
	<a th:href="@{http://azvdcnkcr0269-0.lntinfotech.com:1019/products/shoes}">shoes</a>
	<a th:href="@{http://azvdcnkcr0269-0.lntinfotech.com:1019/products/loadallproducts}">productslist</a>	
	
</form>
</body>
</html>